body {
    font-family: "Open Sans",
    sans-serif; 
    font-size: 5px;
    color: #444;
    text-align: center;
    line-height: 1.5;
  }

  .center {
    margin-top: 150px;
  }

  .landing-container {
    margin: 0px 25px;
  }
  
  .landing {
    height: 80h;
    width: 100%;
  }
  
  .landing-title {
    font-family: 'Permanent Marker', cursive;
    color: red;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 3rem;
  }

  .landing-content {
    font-size: 15px;
    margin-top: 5px;
  }
  
  .landing-button {
    padding: 10px 20px;
    background-color: red;
    border: none;
    color: white;
    font-size: 1rem;
  }

  .landing-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  .app-info {
    margin-top: 80px;
    background: rgb(78, 78, 78);
    color: white;
    font-size: 15px;
    padding: 25px 25px;
  }

  .def-div {
    text-align: left;
    border-radius: 5px;
    padding: 5px;
    background: white;
    box-shadow: 5px 10px 18px #353434;
  }

  .definition-title {
    margin: 0px;
    text-align: left;
    font-size: 25px;
    color: rgb(252, 50, 50);
    font-family: 'Permanent Marker', cursive ;
  }

  .definition {
    margin: 0;
    font-size: 18px;
    color: rgb(0, 0, 0);
  }

  .definition-noun {
    font-style: italic;
    color: rgb(0, 0, 0);
    margin: 2px;
  }

  .header {
    font-family: 'Permanent Marker', cursive;
    color: rgb(252, 50, 50);
    font-size: 20px;
    background-color: black;
    padding: 10px;
    margin-bottom: 5px;
    margin-top: 35px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(248, 248, 248, 0.288);
  }

  .description {
    margin-top: 2px;
    margin-bottom: 25px;
    padding: 10px;
    font-size: 18px;
  }

  @media screen and (min-width: 600px) {
    body {
      font-size: 20px;
    }
    .landing-title {
      font-size: 4rem;
    }
    .landing-content {
      font-size: 20px;
    }
    .app-info {
      padding: 25px 200px;
      font-size: 18px;
    }
    .landing-container {
      margin: 0px 100px;
    }
    .header {
      font-size: 25px;
      background-color: black;
    }
    .description {
      padding: 20px;
    }
  }