* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans",
    sans-serif; 
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
  }

  .center {
    margin-top: 150px;
  }
  
  .landing {
    height: 80h;
    width: 100vw;
  }
  
  .landing-title {
    color: red;
    margin-top: 0;
    font-size: 3rem;
  }
  
  .landing-button {
    padding: 10px 20px;
    background-color: red;
    border: none;
    color: white;
    font-size: 1rem;
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
  }

  .landing-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  .app-info {
    margin-top: 80px;
    background: rgb(83, 82, 82);
    color: white;
    border-top: 1px solid rgb(248, 122, 122);
    padding: 25px 150px;
  }