* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans",
    sans-serif; 
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
  }

  .center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .landing {
    height: 100vh;
    width: 100vw;
  }
  
  .landing-title {
    color: red;
    margin-top: 0;
    font-size: 3rem;
  }
  
  .landing-button {
    padding: 10px 20px;
    background-color: red;
    border: none;
    color: white;
    font-size: 1rem;
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
  }

  .landing-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }