* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans",
    sans-serif; 
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
  }

  .center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .landing {
    height: 100vh;
    width: 100vw;
  }
  
  .landing-title {
    color: red;
    margin-top: 0;
  }
  
  .landing-button {
    padding: 5px 10px;
    background-color: red;
    border: none;
  }