
h2 {
  margin: 5px;
}

button {
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
}

ul {
  margin-top: 0;
}

.link {
  color: #444;
}

.link:visited {
  color: #444;
}

.home-container {
  width: 100%;
  padding: 0 25px;
  text-align: center;
}

.home-main {
    display: block;
    border-radius: 10px;
}

.new-btn:hover {
  opacity: 1;
}
  
.content {
  margin: 5px auto;
  min-height: 300px;
  width: 100%;
  padding: 20px;
  border: 3px solid rgba(170, 168, 168, 0.507);
  border-radius: 10px;
  overflow: hidden;
  display: block;
  background: white;
  box-shadow: 0 0 15px rgba(138, 137, 137, 0.288);
  display: table; text-align: center;
}
  
@media screen and (min-width: 600px) {
  .home-main {
    display: flex;
    border-radius: 10px;
  }
  .new-btn {
    display: inline;
    margin: 30px 200px;
    padding: 10px 20px;
  }
  .content {
    margin: 5px 20px;
  }
}

@-moz-document url-prefix() {
  @media screen and (min-width:600px) {
    .content {
      width: 48%;
      margin: 5px auto;
    }
  }
}