* {
    box-sizing: border-box;
}

body {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

h2 {
  margin: 5px;
}

button {
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
}

ul {
  margin-top: 0;
}

.link {
  color: #444;
}

.link:visited {
  color: #444;
}

.container {
  padding: 0 100px;
  text-align: center;
}

.true {
  color: green;
}

.false {
  color: red;
}

.home-main {
    display: flex;
    border-radius: 10px;
  }
  
  .content {
    margin: 5px auto;
    min-height: 300px;
    width: 500px;
    padding: 20px;
    border: 1px solid rgba(170, 168, 168, 0.507);
    border-radius: 10px;
    overflow: hidden;
  }
  
  .new-btn {
    display: inline;
    margin: 30px 200px;
    border: none;
    color: white;
    background-color: rgb(252, 0, 0);
    border: 1px solid red;
    padding: 10px 20px;
    opacity: 0.6;
    transition: 0.5s;
  }

  .new-btn:hover {
    opacity: 1;
  }
  
  .take-object {
    font-size: 10px;
    background-color: white;
    border: 1px solid rgba(170, 168, 168, 0.507);
    border-radius: 5px;
    margin-top: 3px
  }
  
  .commentator {
    display: inline-block;
    min-height: 75px;
    width: 90px;
    background-color: white;
    margin: 5px;
    border: 1px solid rgba(170, 168, 168, 0.507);
  }
  
  .section-title {
    margin-top: 0;
    margin-bottom: 5px;
  }