.take-object {
    font-size: 10px;
    background-color: white;
    border-bottom: 2px solid rgba(170, 168, 168, 0.336);
    margin-top: 3px;
    text-align: left;
    box-shadow: 0 0 15px rgba(138, 137, 137, 0.171);
    border-radius: 5px;
    padding: 2px;
}

.comm-name {
  font-size: 20px;
  font-weight: 700;
  color: rgb(36, 35, 35);
}

.true{
  color: darkgreen;
}

.false {
  color: red;
}

.take-item {
  margin: 10px;
}

@media screen and (min-width: 600px) {
  .take-object {
    text-align: center;
  }
  .comm-name {
    font-size: 22px;
    font-weight: 700;
  }
}
