* {
    box-sizing: border-box;
}

body {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

.container {
  padding: 0 20px;
  text-align: center;
}

button {
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
}

li {
  list-style: none;
}

ul {
  padding-left: 0;
}

.true {
  color: green;
}

.false {
  color: red;
}

.comment-main {
  width: 100%;
  font-size: 14px;
  border-radius: 10px;
}
  
.cmm-name {
  font-size: 30px;
}
  

.score {
  font-size: 24px;
  margin: 5px auto;
}

.social-link {
  margin: 10px 5px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;
  background-color:rgba(0, 0, 0, 0.349);
}

.social-link:hover {
  background-color:rgba(0, 0, 0, 0.651);
  transition: 0.5s;
}

.network {
  margin-bottom: 20px;
}

.new-tk-btn {
  margin: 10px 5px;
  display: inline;
  border: none;
  color: white;
  background-color: rgb(6, 145, 59);
  border: 1px solid rgba(6, 145, 59);
  padding: 10px 20px;
  opacity: 0.6;
  transition: 0.5s;
}

.new-tk-btn:hover {
  opacity: 1;
}

.comm-delete-btn {
  margin: 5px 5px;
  display: inline;
  border: none;
  color: white;
  background-color: rgb(252, 0, 0);
  border: 1px solid red;
  padding: 10px 20px;
  opacity: 0.6;
  transition: 0.5s;
  font-size: 10px;
}

.comm-delete-btn:hover {
  opacity: 1;
}

.comment-takes {
  margin: 20px 0;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(138, 137, 137, 0.288);
}

.takes-section-title{
  font-family: 'Permanent Marker', cursive;
  color: rgb(36, 35, 35);
}

.comm-content {
  margin: 5px auto;
  min-height: 300px;
  width: 100%;
  padding: 20px;
  border: 3px solid rgba(170, 168, 168, 0.507);
  border-radius: 10px;
  overflow: hidden;
  display: block;
  background: white;
  box-shadow: 0 0 15px rgba(138, 137, 137, 0.288);
  display: table; text-align: center;
}

@media screen and (min-width: 600px) {
  .comment-main {
    margin: auto;
  }
  .comm-delete-btn {
    font-size: 13px;
  }
  .container{
    margin: 0px 100px;
  }
  .comm-content{
    padding: 20px 100px;
  }
}

