* {
    box-sizing: border-box;
}

body {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

.container {
  padding: 0 100px;
  text-align: center;
}

button {
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
}

li {
  list-style: none;
}

ul {
  padding-left: 0;
}

.true {
  color: green;
}

.false {
  color: red;
}

.comment-main {
    width: 100%;
    font-size: 14px;
    color: antiquewhite;
    border-radius: 10px;
    background-color: rgba(58, 56, 56, 0.336);
}
  
.medium {
  color: greenyellow;
}
  
.takes {
  border: 1px solid rgba(170, 168, 168, 0.507);
  border-radius: 10px;
  margin: 3px;
  font-size: 13px;
}

.score {
  font-size: 24px;
  margin: 5px auto;
}

.social-link {
  margin: 10px 5px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 15px;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  background-color:rgba(0, 0, 0, 0.384);
}

.network {
  margin-bottom: 20px;
}

.new-tk-btn {
  margin: 5px 5px;
  display: inline;
  border: none;
  color: white;
  background-color: rgb(252, 0, 0);
  border: 1px solid red;
  padding: 10px 20px;
  opacity: 0.6;
  transition: 0.5s;
}

.new-tk-btn:hover {
  opacity: 1;
}