.commentator {
  text-align: center;
  display: inline-block;
  min-height: 102px;
  width: 90px;
  background-color: white;
  margin: 5px;
  border: 1px solid rgba(170, 168, 168, 0.507);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(138, 137, 137, 0.199);
  padding: 2px;
}

.new-comm-btn:hover {
  opacity: 1;
}

.comm-itm-name{
  margin: 20px auto;
}